
<% if (user.membership_status===true){%>
    <p>Parabéns! Você é um membro oficial do Clube.</p>
    
    <form action="/update-admin" method="post">
        <legend>Deseja ser um admin? </legend>
        <input type="radio" name="isAdmin" id="isAdmin" 
        <% if (user.is_admin==true){%>
            checked
        <%}%> 
        value="true">
        <label for="isAdmin">Sim</label>
        <input type="radio" name="isAdmin" id="isAdmin" 
        <% if (user.is_admin==false){%>
            checked
        <%}%> 
        value="false">
        <label for="isAdmin">Não</label>
        <input type="submit" value="Atualizar">
    </form>
    <h2>Nova Mensagem</h2>
    
    <form action="/home/message" method="post">
        <label for="title">Título: </label>
        <br>
        <br>
        <input type="text" name="title" id="title" required="true">
        <br>
        <br>
        <label for="message">Mensagem: </label>
        <br>
        <br>
        <textarea name="message" id="Message" value="" cols="40" rows="10" wrap="hard" placeholder="Insira sua Mensagem aqui (min. de 5 caracteres, máx. de 500)">
        </textarea>
        <br>
        <br>
        <input type="submit" value="Enviar Mensagem">
        <br>
        <br>
        <% if (typeof(errors)!=='undefined'){ %>
            <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
            <%});%>
        <%}%>
    </form>
    <h2>Quadro de Mensagens</h2>
    <table>
        <tbody>
            <%messages.forEach((message)=>{%>
                <tr>
                    <td><b>Usuário: </b><%=`${message.user.first_name} ${message.user.last_name}`%></td>
                    <td><b>Título: </b><%=message.title%></td>
                    <% if (user.is_admin==true){%>
                        <td><a href=<%= `${message.url}/delete` %>>Delete</a></td>
                    <%}%>
                </tr>
                <tr>
                    <td><%=message.time_stamp%></td>
                    <td><b>Mensagem: </b><%=message.message%></td>
                </tr>
            <%})%>
        </tbody>
    </table>
<%}%>
<% if (user.membership_status===false){%>
    <h2>Quadro de Mensagens</h2>
    <table>
        <%messages.forEach((message)=>{%>
            <tr>
                <td><b>Usuário: </b>Anônimo</td>
                <td><b>Mensagem: </b><%=message.message%></td>
            </tr>
        <%})%>
    </table>
<%}%>